body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #0e1d29;
    font-family: 'Courier New', monospace;
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }

  .aquarium {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #0e1d29;
    overflow: hidden;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.2;
    white-space: pre;
    color: #ade6f7;
  }
  
  .container {
    text-align: center;
    position: relative;
    z-index: 10;
    background: rgba(14, 29, 41, 0.7);
    padding: 30px;
    border-radius: 15px;
  }
  
  h1 {
    font-size: 2.5em;
    color: #ff7373;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 11;
  }
  
  .gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    z-index: 11;
  }